@import './theme';
@import './mixin';

/******************************************************************************
  fieldset
******************************************************************************/
fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;

  legend  {
    display: block;
    margin: 0;
  }
}


/******************************************************************************
  autocomplete
******************************************************************************/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/******************************************************************************
  input-contet
******************************************************************************/
.input-content {
  text-align: left;
  padding: 0 0 1rem 0;
  position: relative;
  margin: 0;
  clear: both;

  &.-inline-textfield {
    padding-bottom: .9rem;
    
    > .input-label {
      position: absolute;
      width: 3.75rem;
      left: .3rem;
      top: .3rem;

      &:after {
        content: ':';
      }

      @include ellipsis();
      + input {
        padding-left: 4rem;
      }
    }
  }

  &.-required {
    > label, > .input-holder label, > fieldset > legend {
      &:after {
        content: '*';
        color: $color-required;
        margin: 0 0 0 .18rem;
      }
    }
  }

  &.-select-box .input-holder {
    &:after {
      content: '';
      position: absolute;
      right: .3rem;
      top: 50%;
      border-style: solid;
      border-width: .35rem .3rem;
      border-color: $color-font transparent transparent transparent;
      margin: -.18rem 0 0 0;
      @include opacity(.7);
    }
  }

  &.-short {
    textarea {
      height: 2.9rem;
      min-height: 2.9rem;
      resize: none;
    }
  }

  > .input-content {
    padding-bottom: 0;
  }

  .input-holder {
    position: relative;
    clear: both;
  }

  .as-label, label, .input-label {
    font-weight: 500;
    padding-bottom: .3rem;
    display: block;
  }

  .input-label-note {
    @include opacity(.8);
  }

  .input-error-message {
    margin: .3rem 0 0 0;
    padding: .35rem .7rem;
    background: $color-danger-bg none repeat 0 0;
  }

  &.-checkbox, &.-radio {
    &.-has-popup-info {
      .popup-info-wrapper,
      fieldset > legend {
        float: left;
      }
      .popup-info-wrapper {
        clear: right;
        margin: 0 0 0 .3rem;
      }
    }

    fieldset > legend {
      margin-bottom: .3rem;
    }

    .box-expander-wrapper {
      padding-left: 2.3rem;
    }
  }

  .input-label-description {
    padding-bottom: .9rem;
    a {
       @include asLink();
       display: inline-block;
    }
  }

  .box-expander-wrapper {
    margin: 0 0 .3rem 0;
  }

  fieldset {
    .input-radio, .input-checkbox {
      + label {
        font-weight: normal;
      }
    }

    > .input-content {
      padding-bottom: 0;
    }
  }

  &.-cell-50 {
    width: 49%;
    float: left;
    margin-right: 1%;
    clear: none;
    + .input-content.-cell-50 {
      float: left;
      clear: none;
      width: 49%;
      margin-right: 0;
      margin-left: 1%;
    }
  }

  @media screen and (max-width: $layout-breakpoint-xxs) {
    padding-bottom: 1rem;
  }
}


.input-label-popup-wrapper {
  clear: both;
  float: left;
  width: 100%;
  > div {
    float: left;
    padding-right: 2.3rem;

    > label {
      float: left;
    }

    .popup-info-wrapper, .popup-wrapper {
      float: right;
      margin-right: -2.3rem;
    }
  }
}


/******************************************************************************
  input-contet
******************************************************************************/
ul.input-radioboxes-list {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  > li {
    display: inline-block;
  }
}

/******************************************************************************
  file-uploader
******************************************************************************/
input[type="file"].input-filefield,
input[type="file"].file-uploader {
  border-radius: $border-round;
  background: $color-white none repeat 0 0;
  display: block;
  border: 1px solid $color-border;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  &:hover, &:focus {
    + label {
      border-color: $color-focus;
      box-shadow: 0 0 .3rem $color-focus;
    }
  }

  &.-invalid {
    + label {
      border-color: $color-error;
      box-shadow: 0 0 .3rem $color-error;

      &:hover, &:focus, &:active {
        border-color: $color-focus;
        box-shadow: 0 0 .3rem $color-focus;
      }
    }
  }

  + label {
    position: relative;
    display: table;
    width: 100%;
    border-radius: $border-round;
    background: $color-white none repeat 0 0;
    display: block;
    padding: 0;
    border: .125rem dashed $color-border;
    width: 100%;
    cursor: pointer;

    > span {
      position: relative;
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      text-align: left;
      padding: 1rem 60px 1rem 1rem;
      &:first-child {
        width: auto;
        padding-right: 1rem;
        vertical-align: top;
        border-right: 1px solid $color-border;
        @include opacity(.8);        
      }
    }

    .file-item {
      display: block;
      min-height: 30px;
    }

    &:hover, &:focus {
      border-color: $color-focus;
      box-shadow: 0 0 .3rem $color-focus;
    }

    + .file-remover {
      position: absolute;
      right: .3rem;
      top: .7rem;

      &.-index-1 { top: 4.125rem; }
      &.-index-2 { top: 7.125rem; }
      &.-index-3 { top: 10.125rem; }
      &.-index-4 { top: 13.125rem; }
      &.-index-5 { top: 16.125rem; }
      &.-index-6 { top: 19.125rem; }
      &.-index-7 { top: 22.125rem; }
      &.-index-8 { top: 25.125rem; }
      &.-index-9 { top: 28.125rem; }
    }
  }
}


/******************************************************************************
  field 
******************************************************************************/
.textarea, .textfield {
  border-radius: $border-round;
  background: $color-white none repeat 0 0;
  display: block;
  border: 1px solid $color-border;
  width: 100%;

  &, + .auto-verticle-holder {
    padding: .35rem .5rem;    
  }

  &.-normal {
    &, + .auto-verticle-holder {
      padding: .9rem 1rem;
    }
  }

  &:hover {
    border-color: $color-focus;
  }

  &:focus, &:active {
    @include focusShadow();
    outline: none;

    + .input-field-description {
      margin-top: -.7rem;
    }
  }

  &.-invalid {
    @include errorShadow();

    &:hover, &:focus, &:active {
      @include focusShadow();
    }
  }

  &:disabled {
    background-color: $color-disabled;
    @include opacity(.6);

    &:hover, &:focus, &:active {
      border-color: $color-border;
      box-shadow: none;
    }

    + .textfield-unit {
      @include opacity(.6);
    }
  }  
}

.textfield {
  &.-small {
    padding: .3rem .5rem;    
  }
}

/******************************************************************************
  textarea 
******************************************************************************/
.textarea {
  min-height: 80px;
  resize: vertical;
}

.textarea-remain-character {
  font-size: 85%;
  font-style: italic;
  text-align: right;
}

/******************************************************************************
  checkbox & radio 
******************************************************************************/
.input-radio, .input-checkbox {
  opacity: .01;
  filter: alpha(opacity=1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: .45rem 0 0 .45rem;

  &.-hide {
    + label {
      display: none;
    }
  }

  &.-invalid {    
    + label {
      &, &:hover {
        &:before {
          border-color: $color-error;
        }
      }
    }
  }

  &:focus {
    + label {
      &:before {
        border-color: $color-focus;        
      }

      &:after {
        display: block;
      }
    }
  }

  &:disabled {
    + label {
      @include opacity(.5);
      cursor: default;
    }
  }  

  &.-box {
    + label {
      padding: .9rem 1rem .9rem 2.5rem;
      border: 1px solid $color-border;
      border-radius: $border-round;
      background: $color-white none repeat 0 0;
    
      &:before, &:after {
        top: .9rem;
        left: .3rem;
        width: 1.15rem;
        height: 1.15rem;
        margin-top: 0;
      }
    }

    &:checked + label {
      border-color: $color-secondary;
      background-color: $color-secondary; 
      color: $color-white;
    }

    &.-full-width {
      position: absolute;
      left: 0;
      top: 0;

      + label {
        max-width: none;
        width: 100%;
      }
    }

    &.-shy {
      + label {
        @include opacity(.6);
        &:hover, &:focus {
          @include opacity(1);
        }
      }

      &:checked + label {
        @include opacity(1);
      }      
    }

    &.-white {
      + label {
        color: $color-font;
      }

      &:checked + label {
        border-color: $color-border;
        background-color: $color-white; 
        color: $color-font;
      }
    }

    &.-no-icon {
      + label {
        padding-left: 1rem;
        &:before {
          display: none;
        }
      }
    }

    &.-small {
      + label {
        padding: .3rem .45rem .3rem 2.3rem;
        &:before, &:after {
          left: .15rem;
          top: .35rem;
        }
      }      
    }
  }

  &.-small {
    + label {
      padding: .15rem .45rem .15rem .7rem;
      &:before, &:after {
        width: 1.15rem;
        height: 1.15rem;
        margin-top: 0;
      }

      &:after {
        margin-left: .15rem;
      }
    }
  }
  
  + label {
    max-width: $max-width-small;
    display: inline-block;
    position: relative;
    white-space: normal;

    &, + .input-label-description {
      margin: 0 .3rem .3rem 0;      
      padding: .25rem .9rem .125rem 2.375rem;
    }

    + .input-label-description {
      margin-top: -.9rem;
      @include opacity(.8);
    }

    &.normal {
      font-weight: normal;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      height: 2.3rem;
      width: 2.3rem;
      margin: 1px 0 0 .15rem;
      background: $color-white none no-repeat center center / 1.15rem auto;
      border: .125rem solid $color-border;
      @include transition( all, .2s, ease-in-out); 
    }

    &:after {
      height: 2.3rem;
      width: 2.3rem;      
      margin: 1px 0 0 0;      
      border: 1px dotted $color-border;
      display: none !important; /*Kiet force to hide focus option*/
    }

    &:hover {
      &:before {
        border-color: $color-focus;
      }
    }

    .text-detail {
      display: block;
      white-space: normal;
      @include opacity(.8);
    }
  }

  @media screen and (max-width: $layout-breakpoint-xxs) {
    &.-box {
      + label {
      }
    }    
  }
}

.input-radio {
  &.-small {
    &:checked {
      + label {
        &:before {
          border-width: .125rem;
        }
      }
    }
  }

  &.-radioboxes {
    + label {
      display: inline-block;
      padding-left: 4.125rem;
      min-width: 6.25rem;
      max-width: 12.5rem;
      border: 1px solid $color-border;
      border-radius: $border-round;
      background: $color-white none repeat 0 0;
      font-weight: 500 ! important;
      white-space: normal !important;

      > span {
        display: table-cell;
        height: 3.3rem;
        line-height: 120%;
        width: 100%;
        vertical-align: middle;
      }

      &:before {
        top: 50%;
        margin-top: -.5rem;
        margin-left: .5rem;
      }
    }

    &:checked {
      + label {
        border-color: $color-active;
        box-shadow: inset 0 0 .125rem $color-active;
      }
    }

    &:focus {
      + label {
        box-shadow: inset 0 0 .125rem $color-focus;
        border-color: $color-focus;
      }      
    }
  }

  + label {
    display: inline-block;
    cursor: pointer;

    &:before {
      border-radius: 100%;
    }
  }

  &:checked {
    + label {
      border-color: transparent;

      &:before {
        background-color: $color-active;
        border: .25rem solid $color-white;
        box-shadow: 0 0 0 .125rem $color-border;
      }
    }
  }

  &:focus {
    + label {
      &:before {
        box-shadow: 0 0 .15rem .125rem $color-focus;
      }
    }
  }
}

.input-checkbox {
  &.-green {
    &:checked {
      + label {
        &:before {
          border-color: $color-green;
        }
      }
    }
  }

  &.-single-border {
    + label {
      &:before {
        border-width: 1px;
      }
    }
  }

  + label {
    display: inline-block;
    border: 0 none;
    cursor: pointer;

    &:before, &:after {
    }

    &:before {
      background-size: 135% auto;
    }
  }

  &:checked {
    + label {
      &:before {
        border-color: $color-checkbox;
        background-color: $color-checkbox;
        background-image: url('../static/icon/checked/checked-white.svg');
      }
    }
  }

  &:focus {
    + label {
      &:before {
        box-shadow: 0 0 .3rem $color-focus;
        border-color: $color-focus;
      }
    }
  }

  &.-toggler {
    &.-small {
      + label {
        height: 2.15rem;
        border-radius: 2.125rem;
        &:before {
          width: 2.125rem;
          height: 2.125rem;
        }
      }
      &:checked {
        + label:before {
          margin-left: -2.125rem;          
        }
      }
    }

    + label {
      position: relative;
      background: #ccc none repeat 0 0; 
      padding: 0;
      margin: 0;
      width: 6.25rem;
      height: 3.15rem;
      border-radius: 3.125rem;
      &:before {
        background: $color-white none repeat 0 0;
        height: 3.125rem;
        width: 3.125rem;
        border-radius: 100%;
        border: 1px solid #999;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 0 0 -1px;
        @include transition( all, .2s, ease-in-out); 
      }

      > span, > div {
        position: absolute;
        bottom: 100%;
        right: 0;
      }
    }

    &:checked {
      + label {
        background-color: $color-active;
        &:before {
          left: 100%;
          margin-left: -3.125rem;
          border: 1px solid #999;
          background-image: none;
        }
      }
    }
  }
}

/******************************************************************************
  select - option 
******************************************************************************/
.select-box {
  /*
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  */
  width: 100%;
  padding: 9px .5rem;    
  border: 1px solid $color-border;
  border-radius: $border-round;
  position: relative;
  min-width: 170px;

  &:hover {
    border-color: $color-focus;
  }

  &:focus, &:active {
    border-color: $color-focus;
    box-shadow: 0 0 0 1px $color-focus;
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }

  &:disabled {
    background-color: $color-disabled;
    @include opacity(.6);

    &:hover, &:focus, &:active {
      border-color: $color-border;
      box-shadow: none;
    }
  }  

  &.-invalid {
    border-color: $color-error;
    box-shadow: inset 0 0 .125rem $color-error;

    &:hover, &:focus, &:active {
      border-color: $color-focus;
      box-shadow: inset 0 0 .125rem $color-focus;
    }
  }

  &.-small {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
}