@import './theme';
@import './mixin';

/******************************************************************************
  autocomplete
******************************************************************************/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/******************************************************************************
  input-contet
******************************************************************************/
.input-wrapper {
    text-align: left;
    padding: 0 0 1.5rem 0;
    position: relative;
    margin: 0;

    &.-required {
        > label, > .input-holder label, > fieldset > legend {
            &:after {
                content: '*';
                color: $color-required;
                margin: 0 0 0 .18rem;
            }
        }
    }

    &.-cell-50 {
        width: 49%;
        float: left;
        margin-right: 1%;
        clear: none;
        + .input-wrapper.-cell-50 {
            float: left;
            clear: none;
            width: 49%;
            margin-right: 0;
            margin-left: 1%;
        }
    }

    > .input-wrapper {
        padding-bottom: 0;
    }

    label, .input-label {
        font-weight: 600;
        padding-bottom: .3rem;
        display: block;
    }

    .input-label-note {
        @include opacity(.8);
    }

    .input-error-message {
        margin: .3rem 0 0 0;
        padding: .35rem .7rem;
        background: $color-danger-bg none repeat 0 0;
    }


    .input-label-description {
        padding-bottom: .3rem;
        margin-top: -.3rem;
        a {
            @include asLink();
            display: inline-block;
        }
    }

    fieldset {
        .input-radio, .input-checkbox {
            + label {
                font-weight: normal;
            }
        }

        > .input-wrapper {
            padding-bottom: 0;
        }
    }

    .input-holder {
        position: relative;
        input.textfield {
            position: relative;
            z-index: 1;
            color: transparent;
            background: transparent;

            &:focus, &:active {
                color: inherit;
                + .formated-value {
                    display: none;
                }       
            }
        }

        .formated-value {
            position: absolute;
            padding: 0 .5rem;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #fff;
            display: table;
            > * {
                display: table-cell;
                vertical-align: middle;                
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) { 
        padding-bottom: 1rem;
    }
}

/******************************************************************************
******************************************************************************/
.input-label-popup-wrapper {
    clear: both;
    float: left;
    width: 100%;
    > div {
        float: left;
        padding-right: 2.3rem;

        > label {
            float: left;
        }

        .popup-info-wrapper, .popup-wrapper {
            float: right;
            margin-right: -2.3rem;
        }
    }
}