@import './theme';
@import './mixin';

.select-box {
    width: 100%;
    padding: .6rem .5rem;    
    border: 1px solid $color-border;
    border-radius: $border-round;
    position: relative;
    min-width: 170px;

    &:hover {
        border-color: $color-focus;
    }

    &:focus, &:active {
        border-color: $color-focus;
        box-shadow: 0 0 0 1px $color-focus;
        outline: none;
    }

    &::-ms-expand {
        display: none;
    }

    &:disabled {
        background-color: $color-disabled;
        @include opacity(.6);

        &:hover, &:focus, &:active {
            border-color: $color-border;
            box-shadow: none;
        }
    }  

    &.-invalid {
        border-color: $color-error;
        box-shadow: inset 0 0 .125rem $color-error;

        &:hover, &:focus, &:active {
            border-color: $color-focus;
            box-shadow: inset 0 0 .125rem $color-focus;
        }
    }

    &.-small {
        padding: .35rem .5rem;    
    }
}