@import './theme';
@import './mixin';

.textarea, .textfield {
    border-radius: $border-round;
    background: $color-white none repeat 0 0;
    display: block;
    border: 1px solid $color-border;
    width: 100%;
    padding: .35rem .5rem;    

    &:hover {
        border-color: $color-focus;
    }

    &:focus, &:active {
        @include focusShadow();
        outline: none;

        + .input-field-description {
            margin-top: -.7rem;
        }
    }

    &.-invalid {
        @include errorShadow();

        &:hover, &:focus, &:active {
            @include focusShadow();
        }
    }

    &:disabled {
        background-color: $color-disabled;
        @include opacity(.6);

        &:hover, &:focus, &:active {
            border-color: $color-border;
            box-shadow: none;
        }

        + .textfield-unit {
            @include opacity(.6);
        }
    }  
}

.textfield {
    &.-small {
        padding: .3rem .5rem;    
    }
}

/******************************************************************************
  textarea 
******************************************************************************/
.textarea {
    min-height: 80px;
    resize: vertical;
}

.textarea-remain-character {
    font-size: 85%;
    font-style: italic;
    text-align: right;
}