@import './theme';
@import './mixin';

.aria-visible {
  @include ariaVisible();
}

.empty-text {
  font-style: italic;  
}

.spacing-left {
  padding-left: 2rem;
  &.-half, &.-half-left {
    padding-left: 1rem;
  }
}
.spacing-right {
  padding-left: 2rem;
  &.-half, &.-half-right {
    padding-right: 1rem;
  }
}
.spacing-bottom {
	padding-bottom: 2rem;
  &.-half, &.-half-bottom {
    padding-bottom: 1rem;
  }
}
.spacing-top {
  padding-top: 2rem;
  &.-half, &.-half-top {
    padding-top: 1rem;
  }
}

.relative { position: relative; }
.static   { position: static; }
.align-right  { text-align: right; }
.align-left   { text-align: left; }
.align-center { text-align: center; }
.align-middle { vertical-align: middle; }
.align-top { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.pre-wrap    { white-space: pre-wrap; }
.no-wrap     { white-space: nowrap; }
.normal-wrap { white-space: normal; }
.underline { text-decoration: underline; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.block { display: block; }
.inline-block { display: inline-block; }
.hide { display: none; }
.shy { @include opacity(.7); }
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.padding-top {padding-top: .6rem;}
.padding-bottom {padding-bottom: .6rem;}
.padding-left {padding-left: .6rem;}
.padding-right {padding-right: .6rem;}
.margin-top {margin-top: .6rem;}
.margin-bottom {margin-bottom: .6rem;}
.margin-left {margin-left: .6rem;}
.margin-right {margin-right: .6rem;}
.cursor { cursor: pointer; }
.clear-both {clear: both;}
.clear-left {clear: left;}
.clear-right {clear: right;}
.hidden {visibility: hidden;}

.left-appending {
  position: relative;
  @include opacity(0);
  @include animation( left-appending, .2s, ease, 0s );
  @include animation-forwards();
}

.right-appending {
  position: relative;
  @include opacity(0);
  @include animation( right-appending, .2s, ease, 0s );
  @include animation-forwards();
}

.top-appending {
  position: relative;
  @include opacity(0);
  @include animation( top-appending, .4s, linear, .1s );
  @include animation-forwards();
}

.bottom-appending {
  position: relative;
  @include opacity(0);
  @include animation( bottom-appending, .4s, linear, .1s );
  @include animation-forwards();
}