@import '../style/theme';
@import '../style/mixin';

.dialog-box-wrapper {
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30000;

  &:focus .dialog-box-frame:before{
    display: block;
  }

  .dialog-box-frame {
    position: relative;
    z-index: 2;
    background: $color-white none no-repeat 0 0;
    margin: 4rem 1rem 1rem 1rem;
    border-radius: $border-round;
    max-width: 64rem;    
    min-height: 5rem;
    max-height: 90%;
    height: auto !important;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px dashed $color-focus;
      display: none;
    }
  }

  .dialog-box-footer,
  .dialog-box-header {
    text-align: right;
  }

  .dialog-box-header {
    text-align: left;
    h1, h2, h3 {
    }
  }

  .dialog-box-footer,
  .dialog-box-body {
    padding: 1rem;
  }

  .dialogBox-bg-closer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5) none repeat 0 0;
  }

  .dialog-box-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  /*
  @media screen and (max-width: $breakpoint-md-p) { 
    .dialog-box-frame {
      border-radius: $border-round;
    }
  }
  */
}