@import '../../style/theme';
@import '../../style/mixin';

.pagination-list {
  list-style: none;
  margin: 0;
  padding: .5rem 0;
  text-align: center;
  white-space: nowrap;

  > li {
    display: inline-block;
    margin: 0 .2rem;
  }

  .page-item {
    min-width: 2rem;
    &.-trancation {
      /*color: #fff;*/
    }
  }
}