<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" name="viewport">
<title>SpareBank1 Form Validation</title>

<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="./css/owl.theme.css">
<style>
</style>

<script type="text/javascript" src="./js/1.11.2.jquery.min.js"></script>
<script type="text/javascript" src="./js/owl.carousel.js"></script>

</head> 
<body>

<div class="wrapper" style="border: 1px solid red; margin:30px">
  <div id="owl-example" class="owl-carousel">
    <div> Your Content 1</div>
    <div> Your Content 2 </div>
    <div> Your Content 3 </div>
    <div> Your Content 4 </div>
    <div> Your Content 5 </div>
    <div> Your Content 6 </div>
    <div> Your Content 7 </div>
  </div>
</div>
<script>
 $("#owl-example").owlCarousel({
  navigation : true, // Show next and prev buttons
  slideSpeed : 300,
  paginationSpeed : 400,
  singleItem:true

 });
</script>
</body>
</html>
