/******************************************************************************
=== register_payment ===
******************************************************************************/
#register_payment {

}

#register_payment_section .sb1_form_row .sb1_calender_field_parent,
#register_payment_section .sb1_form_row .kr_and_or {
  float: left;
  width: 50%;
}

#register_payment_section .sb1_form_row #payment_expire_date_name_label_1 {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 20px;
}

#register_payment_section .sb1_form_row .sb1_calender_field_parent {
  padding: 0 10px 0 20px;
  position: relative;
}

#register_payment_section .sb1_form_row .sb1_calender_field_parent > label {
  display: none;
  padding-bottom: 10px;
}


#maturity_date_from_label_1 {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 20px;
}

/******************************************************************************
=== ===
******************************************************************************/
@media only screen and (max-width: 700px) {
	#layout #main #register_payment_section #error_for_payment_amount_kr_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_kr_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_or_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_or_field.sb1_form_validation_error {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: -10px;
	}
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error {
		left: 50%;
	}
}

@media only screen and (max-width: 450px) {
	#maturity_date_from_label_1 {
		display: none;
	}

  /********************************* == register_payment_section == *******/

  #register_payment_section .sb1_form_row .sb1_calender_field_parent,
  #register_payment_section .sb1_form_row .kr_and_or {
    float: none;
    width: auto;
    clear: both;
  }

  #register_payment_section .sb1_form_row #payment_expire_date_name_label_1 {
    display: none;
  }

  #register_payment_section .sb1_form_row .sb1_calender_field_parent {
    padding: 0;
    margin-top: 30px;
  }

  #register_payment_section .sb1_form_row .sb1_calender_field_parent > label {
    display: block;
  }

	#layout #main #register_payment_section #error_for_payment_amount_kr_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_kr_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_or_field.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_amount_or_field.sb1_form_validation_error {	
		position: relative;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		margin: 5px 0 5px 0;
	}

	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error,
	#layout #main #register_payment_section #error_for_payment_expire_date_name.sb1_form_validation_error {
		margin-bottom: -20px;
	}
  /********************************* == END OF register_payment_section == *******/
}