<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" name="viewport">
<title>SpareBank1 - button</title>
<!--<link rel="stylesheet" type="text/css" href="../../../src/css/style.css">-->
<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div style="padding:20px">
	<div class="tip-wrapper left">
	  <div class="icon-wrapper">
	    <div class="icon-circle">
		    <picture>
	        <img class="inline-svg icon responsive" alt="tips.svg" src="./icons/tips.svg">
			  </picture>
			</div>
	  </div>
	  <div class="tip-content">
			<h3 style="text-align: center;">Tips til diskusjon</h3>
			<p style="text-align: center;">
				<span class="subtle-text">
					Lag en spareplan sammen med barnet som går over noen uker hvor 
					du visualiserer hva tingen koster og hvor&nbsp;mye barnet klarer å spare fra uke til uke. Dette er motiverende, samtidig som han eller hun erfarer at&nbsp;det er at det er mulig å få råd til større ting ved å spare langsiktig.
				</span>
			</p>
		</div>
	</div>
</div>
</body>
</html>
