{
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ],
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
	"rules":{
    "indent": ["error", 4],
		"linebreak-style": 0
	}
}