@import '../style/theme';
@import '../style/mixin';

.calendar-wrapper {
	min-width: 270px;
	position: relative;

	/* over write rds style */
	ul, ol {
		list-style: none  !important;
		margin: 0  !important;
		padding: 0 !important;

		&:not([class]) li:before {
			display: none;
		}
	}

	table tr td, table tr th {
		border-right: 0 none;
	}
	table thead {
		border: 0 none;
	}
	/* end of over write rds style */

	&.-on-focus, &.-stay-open {
		.calendar-widget {
			display: block;
		}
	}

	&.-static-position {
		.calendar-widget {
			position: relative;
			left: auto;
			top: auto;
		}
	}

	&.-single {
		.calendar-name {
			padding-top: 13px;			
		}

		.calendar-widget .calendar-view .calendar-header .calendar-navigation-holder {
			&.-previous {
				margin: -10px 40px 0 0;
			}
			&.-next {
				margin: -10px 0 0 0;
			}
		}
	}

	&.-multiple {
		.calendar-name {
			padding-right: 35px;
			padding-left: 35px;
			text-align: center;
		}

		.calendar-navigation-holder {
			display: none;
		}

		.calendar-navigation-holder.-previous {
			right: auto;
			left: 0;
			margin-left: 15px;
			&.-has-year-navigation {
				margin-left: 5px;
			}
		}

		.calendar-holder {
			&.-first {
				.calendar-navigation-holder.-previous {
					display: block;
				}
			}

			&.-last {
				.calendar-navigation-holder.-next {
					display: block;
				}
			}
		}

		.calendar-header {
			min-width: 300px;
		}
	}

	&.-single-field {
  	.calendar-cnt {
  		input.textfield {
  			float: none;
  			width: 100%;
  			max-width: none;

  			&.input-b {
					display: none;  				
  			}
  		}
  	}		
	}

	&.-small-view .calendar-widget {
		.calendar-header {
			min-width: 150px;
			padding: 10px 5px;
		}

		table .calendar-item {
			min-width: 26px;
		}
	}

	.field-list-wrapper {
		display: table;
		> li {
			display: table-cell;
			position: relative;

			&:after {
				content: attr(data-fieldtext);
				position: absolute;
				right: 15px;
				top: -2px;
				font-style: italic;
				z-index: 10;
				font-size: 80%;
			}
		}
	}

	input {
		width: 166px;
		float: left;
		margin-right: 10px;
		margin-top: 0.25rem;
		&.input-b {
			margin-right: 0;
		}

		&:after {
			content: 'kiet';
			position: absolute;
			right: 0;
			top: 0;
		}

	}

	.invisible {
		color: transparent;
		font-size: 1px;
		text-indent: -500px;
		position: absolute;
		top: 0;
		right: 100%;
	}

	.calendar-cnt {
		position: relative;
	}

	.calendar-widget {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		background: #fff none repeat 0 0; 
		overflow: hidden;
		border: 1px solid $color-border;
		border-radius: 2px;
		margin: 5px 0 0 0;
		display: none;

		> .collection > ul, > ul {
			display: table;
			> li {
				display: table-cell;
			}
		}

		.calendar-view {
			table {
				margin: 10px;
			}
			.calendar-header {
				padding: 20px 15px;
				margin: 0 0 20px 0;
				position: relative;
				background: #ccc none repeat 0 0;
				border-bottom: 1px solid #333;
				position: relative;

				.calendar-name {
					font-size: 22px;
				}

				.calendar-navigation-holder {
					position: absolute;
					right: 0;
					top: 50%;
					margin: -15px 15px 0 0;
					&.-has-year-navigation {
						margin-right: 5px;
					}
				}

				.calendar-navigation {
					width: 30px;
					height: 30px;
					display: inline-block;
					position: relative;

					&:before, &:after {
						content: " ";
						position: absolute;
						left: 0;
						top: 0;
						border-style: solid;
						border-width: 15px 13px;
						border-color: transparent transparent transparent #454545;
						margin: 0 0 0 5px;
					}

					&:after {
						border-color: transparent transparent transparent #ccc;						
						margin-left: 2px;
					}

					&:hover, &:focus {
						&:before {
							border-color: transparent transparent transparent $color-blue;
						}
					}

					&.-year {
						&:before, &:after {
							left: 5px;
						}
						&:after {
							margin-left: -1px;
						}
					}

					&.-previous {
						-ms-transform: rotate(180deg); 
						-moz-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg); 						
					}

					/*
					&.-previous {
						margin-right: 45px;
						&:before, &:after {
							border-color: transparent #333 transparent transparent;
							left: auto;
							right: 0;
							margin: 0 5px 0 0;
						}

						&:after {
							border-color: transparent #ccc transparent transparent;
							margin-right: 2px;
						}

						&:hover, &:focus {
							&:before {
								border-color: transparent $color-blue transparent transparent;
							}
						}
					}
					*/
				}
			}
		}
	}

	table {
		width: auto;
		&, td, th {
			border-collapse: collapse;
			padding: 0;
			margin: 0;
			text-align: center;
			vertical-align: middle;
			position: relative;

			&.off:after {
				content: " ";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: 2;
				background: transparent none repeat 0 0;
			}
		}

		th {
			font-weight: 700;
			color: #333;
		}

		.calendar-item {
			display: inline-block;
			min-width: 35px;
			text-decoration: none;
			border: 1px solid #ccc;
			border-radius: 2px;
			padding: 5px;
			margin: 2px;
			font-weight: 500;
			background: transparent none repeat 0 0;
			position: relative;

			&.-is-today {
				font-weight: 700;
				&:after {
					content: ' ';
					position: absolute;
					bottom: 4px;
					left: 5px;
					right: 5px;
					border-bottom: 2px solid #333;
				}
			}

			&:hover, &.-selected {
				background-color: $color-blue;
				color: #fff;
				&:after {
					border-bottom-color: #fff;
				}				
			}

			&:focus {
				border-color: #333;
			}

			&.-out-of-month, &.-disabled {
				&, &:hover {
					border: 0 none;
					cursor: default;
		    	opacity: 0.5; 
		    	filter: alpha(opacity=50);				
		    	background-color: inherit;
		   	}
			}
		}
	}

	.calendar-timer {
		display: none;

		border-top: 1px solid #333;
		.timer-cnt {
			display: table;
			width: 100%;
			max-width: 290px;
			margin: 0 auto;
			> div {
				display: table-cell;
				padding: 15px;
			}
		}
	}

	.shortcut-list {
		position: absolute;
		top: 0;
		left: 45px;
		margin: 0 0 0 0;
		white-space: nowrap;
		> li {
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}

	@media screen and (max-width: 620px) {
		&.-multiple {
			.calendar-name {
				padding-right: 50px;
				padding-left: 0;
				text-align: left;
			}

			.calendar-holder {
				&.-first {
					.calendar-navigation-holder {
						display: block;

						&.-previous {
							left: auto;
							right: 0;
						}
					}
				}

				&.-last {
					display: none;
				}
			}

			.calendar-header {
				min-width: 0;
			}
		}
	}
}