@import '../style/theme';
@import '../style/mixin';

.calendar-wrapper {
	min-width: 17rem;
	position: relative;

	&.-on-focus, &.-stay-open {
		.calendar-widget {
			display: block;
		}
	}

	&.-static-position {
		.calendar-widget {
			position: relative;
			left: auto;
			top: auto;
		}
	}

	&.-multiple {
		.calendar-name {
			padding-right: 2.2rem;
			padding-left: 2.2rem;
			text-align: center;
		}

		.calendar-navigation {
			display: none;
		}

		.calendar-navigation.-previous {
			right: auto;
			left: 1rem;
		}

		.calendar-holder {
			&.-first {
				.calendar-navigation.-previous {
					display: block;
				}
			}

			&.-last {
				.calendar-navigation.-next {
					display: block;
				}
			}
		}

		.calendar-header {
			min-width: 20rem;
		}
	}

	&.-single-field {
	  	.calendar-cnt {
	  		input.textfield {
	  			float: none;
	  			width: 100%;
	  			max-width: none;

	  			&.input-b {
						display: none;  				
	  			}
	  		}
	  	}		
	}

	&.-small-view .calendar-widget {
		.calendar-header {
			min-width: 10rem;
			padding: .6rem .3rem;
		}

		table .calendar-item {
			min-width: 1.5rem;
		}
	}

	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}

	.field-list-wrapper {
		display: table;
		> li {
			display: table-cell;
			position: relative;

			.input-label {
				@include ariaVisible();
			}
		}
	}

	.field-list-item {
		position: relative;
		&:after {
			content: attr(data-fieldtext);
			position: absolute;
			right: 1rem;
			top: -2px;
			font-style: italic;
			z-index: 10;
			font-size: 80%;
		}
	}

	input {
		width: 10.6rem;
		float: left;
		margin-right: .6rem;
		&.input-b {
			margin-right: 0;
		}
	}

	.calendar-cnt {
		position: relative;
	}

	.calendar-widget {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		background: #fff none repeat 0 0; 
		overflow: hidden;
		border: 1px solid $color-border;
		border-radius: $border-round;
		margin: .3rem 0 0 0;
		display: none;

		> .collection > ul, > ul {
			display: table;
			> li {
				display: table-cell;
			}
		}

		.calendar-view {
			table {
				margin: .6rem;
			}
			.calendar-header {
				padding: 1.25rem 1rem;
				margin: 0 0 1.25rem 0;
				position: relative;
				background: $color-border-light none repeat 0 0;
				border-bottom: 1px solid $color-border-dark;
				position: relative;

				.calendar-name {
					font-size: 22px;				
				}

				.calendar-navigation {
					width: 1.25rem;
					height: 2rem;
					position: absolute;
					right: 0;
					top: 50%;
					margin: -1rem 1rem 0 0;

					&:before, &:after {
						content: " ";
						position: absolute;
						left: 0;
						top: 0;
						border-style: solid;
						border-width: 1rem .8rem;
						border-color: transparent transparent transparent $color-border-dark;
						margin: 0 0 0 .3rem;
					}

					&:after {
						border-color: transparent transparent transparent $color-border-light;						
						margin-left: 2px;
					}

					&:hover, &:focus {
						&:before {
							border-color: transparent transparent transparent $color-focus;
						}
					}

					&.-previous {
						margin-right: 4.3rem;
						&:before, &:after {
							border-color: transparent $color-border-dark transparent transparent;
							left: auto;
							right: 0;
							margin: 0 .3rem 0 0;
						}

						&:after {
							border-color: transparent $color-border-light transparent transparent;
							margin-right: 2px;
						}

						&:hover, &:focus {
							&:before {
								border-color: transparent $color-focus transparent transparent;
							}
						}
					}
				}
			}
		}
	}

	table {
		width: auto;
		&, td, th {
			border-collapse: collapse;
			padding: 0;
			margin: 0;
			text-align: center;
			vertical-align: middle;
			position: relative;

			&.off:after {
				content: " ";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: 2;
				background: transparent none repeat 0 0;
			}
		}

		th {
			font-weight: 700;
			color: $color-border-dark;
		}

		.calendar-item {
			display: inline-block;
			min-width: 2.2rem;
			text-decoration: none;
			border: 1px solid $color-border-light;
			border-radius: $border-round;
			padding: .3rem;
			margin: 2px;
			font-weight: 500;
			background: transparent none repeat 0 0;
			position: relative;

			&.-is-today {
				font-weight: 700;
				text-decoration: underline;
			}

			&:hover, &.-selected {
				background-color: $color-focus;
				color: #fff;
				&:after {
					border-bottom-color: #fff;
				}				
			}

			&:focus {
				border-color: $color-border-dark;
			}

			&.-out-of-month, &.-disabled {
				&, &:hover {
					border: 0 none;
					cursor: default;
		    	opacity: 0.5; 
		    	filter: alpha(opacity=50);				
		    	background-color: inherit;
		   	}
			}

			&.-allow-out-of-month {
				border-style: dashed;			
				border-color: #999;
				&.-selected {
					background-color: #009dd2;
				}
			}
		}
	}

	.shortcut-list {
		position: absolute;
		top: 0;
		left: 5rem;
		margin: 0 0 0 0;
		white-space: nowrap;
		> li {
			display: inline-block;
			margin: 0 .6rem 0 0;
		}
	}

	@media screen and (max-width: $breakpoint-sm) { 
		&.-multiple {
			.calendar-name {
				padding-right: 3.2rem;
				padding-left: 0;
				text-align: left;
			}

			.calendar-holder {
				&.-first {
					.calendar-navigation {
						display: block;

						&.-previous {
							left: auto;
							right: 0;
						}
					}
				}

				&.-last {
					display: none;
				}
			}

			.calendar-header {
				min-width: 0;
			}
		}
	}
}