@import '../style/theme';
@import '../style/mixin';

$itemBorder: #999;

.suggestion-wrapper {
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.-has-calendar {
    width: 32rem;

    .calendar-wrapper {
      .field-list-wrapper {
        width: 100%;
        > li {
          width: 48%;
          padding-right: 2%;
          &:last-child {
            padding-left: 2%;
            padding-right: 0;
          }

          input {
            width: 100%;
          }
        }
      }

      legend {
        @include ariaVisible();
      }
    }
  }

  .suggestion-cnt {
    position: relative;

    .clear-btn {
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: -1rem;
    }

    input[type="text"] {
      padding-right: 1.9rem;
      + .clear-btn {
        margin: -2.7rem 0 0  0;
      }
    }

    &.-dropdown-menu {
      .suggestion-holder {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .suggestion-widget {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 100%;
    z-index: 120;
    background: $color-white none no-repeat center center;

    .matched-item,
    .empty-list {
      display: block;
      padding: .3rem .3rem .3rem 2rem;
      background: $color-white none no-repeat .2rem center / auto 1.5rem;
      color: $color-font;
    }
    .matched-list {
      > li {
        position: relative;

        &:hover .matched-item {
          color: $color-blue;
          outline: none;
          z-index: 1;
          border-color: $color-focus;
          box-shadow:  inset 0 0 .3rem $color-focus;
          font-weight: 500;
        }
      }
    }

    .empty-list {
      font-style: italic;
    }

    .matched-item {
      font-weight: 500;
      border: 1px solid $itemBorder;
      position: relative;
      margin: 0 0 -1px 0;
      position: relative;
      box-shadow: none;

      &:hover, &:focus, &.-focus {
        color: $color-blue;
        outline: none;
        z-index: 1;
        border-color: $color-focus;
        box-shadow:  inset 0 0 .3rem $color-focus;
        font-weight: 500;
      }

      &.-disabled {
        &, &:hover {
          color: $color-font !important;
          border-color: $color-border !important;
          box-shadow: none !important;
          @include opacity(.7);
        }
      }

      &.-selected {
        color: $color-blue;
        background-image: url('../../../static/icon/checked/checked.svg');
      }

      &.-next-is-detail {
        padding-right: 2.5rem;
      }
    }

    .matched-item-detail {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .loader-wrapper {
      border: 1px solid $color-border;
      background: $color-white none repeat 0 0;
    }
  }

  .selected-wrapper {
    position: relative;
    padding-right: 1.9rem;
    .clear-btn {
      top: 0;
      margin: 0;
    }
  }

  .suggestion-holder {
    white-space: normal;
    > li {
      display: inline-block;
      margin: 0 4px 2px 0;
      .tag-btn {
        overflow: hidden;
        position: relative;
        border: 1px solid $color-border;
        border-radius: $border-round;
        background: $color-white none no-repeat 0 0;
        padding: .3rem 2rem .3rem .65rem;

        .tag-cnt .icon-btn {
          width: 2.5rem;
          height: 1.9rem;
          background-size: 1rem auto;
          margin: -.3rem .3rem;
          float: right;

          &:hover,&:focus {
            border-color: $color-focus;
          }
        }

        .tag-cnt {
          max-width: 19rem;
          max-height: 2rem;
        }
      }

      a.tag-cnt {
        margin-right: 1rem;
        > span {
          text-decoration: underline;
          color: $color-link;

          .name-detail {
            display: none;
            &:first-child {
              display: inline-block;
              min-width: 1.25rem;
              padding-left: .2rem;
            }
          }
        }
      }

      .icon-btn.-cross {
        height: auto;
        position: absolute;
        right: 1px;
        top: 0;
        bottom: 0;
        @include opacity(.7);

        &, &:before {
          background-size: 40% auto !important;          
        }

        &:hover, &:focus {
          @include opacity(1);
        }
      }
    }
  }

  .suggestion-calendar-wrapper,
  .suggestion-category-wrapper {
    position: relative;
    white-space: nowrap;
  }

  .suggestion-category-wrapper {
    background-color: #333;
    &, a, a:hover {
      color: #fff;
    }
  }

  .suggestion-category-list {
    padding: .65rem;
    > li {
      display: inline-block;
      margin: 0 .65rem 0 0;
      font-weight: 700;
      text-transform: capitalize;      

      a:hover {
        color: $color-blue;
      }

      a.suggestion-category-btn.-active {
        color: $color-green;
      }
    }
  }

  .suggestion-calendar-wrapper {
    overflow: hidden;
    max-height: 0;
    max-width: 40rem;
    margin: 0 auto;
    @include transition( all, .2s, ease-in-out);
    &.-open {
      max-height: 40rem;
    }

    .calendar-wrapper {
      padding: .65rem .3rem;
      border: 1px solid $itemBorder;
    }

    .calendar-widget > .collection > ul {
      width: 100%;
    }
  }
}
